


<div class="container-fluid">
  <div class="row">
    
    <h1>About Me</h1>
<p>I am working on my interesing app</p>

    <%= yield %>
  </div>
</div>
       
   <div class="row">
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src=https://fbcdn-sphotos-f-a.akamaihd.net/hphotos-ak-xtp1/v/t1.0-9/10173823_10203737766195407_4203840465159824819_n.jpg?oh=a42a04645456406aacbf81e083d928dc&oe=56A49B80&__gda__=1453493317_563b70c128bbe2a7d2e39ffc719eb8ee
      <div class="caption">
        <h3>Kenyan Web Developer "Sparta" </h3>
        <p>"
          Graduate of Nairobi Dev School ,with a nack for technology and programming , creative and sophisticated in his works, very promising and original in his ideas ..
        
        "</p>
        <p><a href="#" class="btn btn-primary" role="button">HIRE</a> <a href="#" class="btn btn-default" role="button">Contact</a></p>
      </div>
    </div>
  </div>
</div>
       
       
       
       
<div class="container">
          <h1>Welcome to our site</h1>
          <p class="lead">we are a group of tech enthusiasts and developers eager to usher africa into the age of cutting edge technology developments and trenasformations in the technology sector</p>

          <%= yield %>
     </div>



<div id="grid" data-columns>
	<div class="column size-1of3">
		<div></div>
		<div>Item #4</div>
		<img src=https://fbcdn-sphotos-f-a.akamaihd.net/hphotos-ak-xtp1/v/t1.0-9/10173823_10203737766195407_4203840465159824819_n.jpg?oh=a42a04645456406aacbf81e083d928dc&oe=56A49B80&__gda__=1453493317_563b70c128bbe2a7d2e39ffc719eb8ee
	</div>
	<div class="column size-1of3">
		<div>Item #2</div>
		<div>Item #5</div>
		<img src=https://fbcdn-sphotos-f-a.akamaihd.net/hphotos-ak-xtp1/v/t1.0-9/10173823_10203737766195407_4203840465159824819_n.jpg?oh=a42a04645456406aacbf81e083d928dc&oe=56A49B80&__gda__=1453493317_563b70c128bbe2a7d2e39ffc719eb8ee
	</div>
	<div class="column size-1of3">
		<div>Item #3</div>
		<div>Item #6</div>
		<img src=https://fbcdn-sphotos-f-a.akamaihd.net/hphotos-ak-xtp1/v/t1.0-9/10173823_10203737766195407_4203840465159824819_n.jpg?oh=a42a04645456406aacbf81e083d928dc&oe=56A49B80&__gda__=1453493317_563b70c128bbe2a7d2e39ffc719eb8ee
	</div>
</div>



       
       
       
       
       
       
       
       
       
       
       
       
       
       
       
       
       
       
       
       
       
       
       
    <img src=https://fbcdn-sphotos-f-a.akamaihd.net/hphotos-ak-xtp1/v/t1.0-9/10173823_10203737766195407_4203840465159824819_n.jpg?oh=a42a04645456406aacbf81e083d928dc&oe=56A49B80&__gda__=1453493317_563b70c128bbe2a7d2e39ffc719eb8ee
</div>
   <div class="media">
  <div class="media-left">
    <a href="#">
      <img class="media-object" src=https://fbcdn-sphotos-f-a.akamaihd.net/hphotos-ak-xtp1/v/t1.0-9/10173823_10203737766195407_4203840465159824819_n.jpg?oh=a42a04645456406aacbf81e083d928dc&oe=56A49B80&__gda__=1453493317_563b70c128bbe2a7d2e39ffc719eb8ee
    </a>
  </div>
  <div class="media-body">
    <h4 class="media-heading">Newton"sparta" Robert  </h4>
    
  </div>
</div>